<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="sqlserver_lyonpalme" connectionString="Data Source=192.168.100.236;Initial Catalog=kalifarouis;User ID=kalifarouis;Password=kalifarouis"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>
